<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.rrsys">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.CreateReservationActivity"
            android:label="@string/title_activity_create_reservation"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.rrsys.presentation.CreateReservationActivity" />
        </activity>
        <activity
            android:name=".presentation.CreateConfirmReservationActivity"
            android:label="@string/title_activity_confirm_reservation"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.rrsys.presentation.CreateReservationActivity" />
        </activity>
        <activity
            android:name=".presentation.ReceiptReservationActivity"
            android:label="@string/title_activity_reservation_receipt"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.rrsys.presentation.ReceiptReservationActivity" />
        </activity>
        <activity
            android:name=".presentation.ReviewReservationActivity"
            android:label="@string/title_activity_review_reservation"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.rrsys.presentation.ReviewReservationActivity" />
        </activity>
        <activity
            android:name=".presentation.GetReviewReservationActivity"
            android:label="@string/restaurant_reservation_system"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.rrsys.presentation.GetReviewReservationActivity" />
        </activity>
        <activity
            android:name=".presentation.UpdateReservationActivity"
            android:label="@string/title_activity_update_reservation"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.rrsys.presentation.UpdateReservationActivity" />
        </activity>
        <activity
            android:name=".presentation.GetUpdateReservationActivity"
            android:label="@string/restaurant_reservation_system"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.rrsys.presentation.GetReviewReservationActivity" />
        </activity>
        <activity
            android:name=".presentation.ConfirmUpdatesActivity"
            android:label="@string/restaurant_reservation_system"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.rrsys.presentation.ConfirmUpdatesActivity" />
        </activity>
    </application>

</manifest>